In [1]:
# Importar las librerías necesarias
import pandas as pd # Para la manipulación y análisis de datos
import pickle # Para la serialización y deserialización de objetos
from string import ascii_uppercase as alphabet  # Para obtener el alfabeto en mayúsculas

In [2]:
# Extracción de todas las tablas de la página de Wikipedia sobre la Copa Mundial de la FIFA 2022
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# Accediendo a las tablas específicas de la fase de grupos de la Copa Mundial
all_tables[11] # Tabla 1: Detalles del grupo A
all_tables[18]# Tabla 2: Detalles del grupo B
all_tables[25]# Tabla 2: Detalles del grupo B

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Saudi Arabia    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3        Mexico    0  0  0  0   0   0   0    0                        NaN
3    4        Poland    0  0  0  0   0   0   0    0                        NaN

In [4]:
# Iterar a través de los índices relevantes para extraer tablas de la fase de grupos
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
for i in range(11,67,7): # Se seleccionan los índices 11, 18, 25, etc.
    print(i) # Imprimir el índice actual para seguimiento
    df = all_tables[i] # Extraer la tabla correspondiente al índice
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)  # Renombrar la segunda columna a 'Team'
    if 'Qualification' in df.columns:
        df.pop('Qualification') # Eliminar la columna de Qualification ya que no es necesario
#     print(df)

11
18
25
32
39
46
53
60

In [5]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [6]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
# Crear un diccionario para almacenar las tablas de los grupos
dict_table = {}
# Iterar a través de las letras del alfabeto y los índices de las tablas
for letter, i in zip(alphabet, range(11,67,7)): # A=11, B=18, ...
    df = all_tables[i] # Extraer la tabla correspondiente al índice
    df.rename(columns={df.columns[1]:'Team'}, inplace=True) # Renombrar la segunda columna a 'Team'
    if 'Qualification' in df.columns:
        df.pop('Qualification') # Eliminar la columna 'Qualification'
    dict_table[f'Group {letter}'] = df # Almacenar la tabla en el diccionario con la clave 'Group {letra}'

In [7]:
# Mostrar las claves del diccionario dict_table
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [12]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [8]:
# Guardar el diccionario dict_table en un archivo
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)